* {

    font-family: Helvetica, Arial, sans-serif;
}

body {

    display: block;
    padding: 60px;
}

h2{

    font-size: 30px;
    text-align: center;
}

h3{

    font-size: 20px;
    text-align: center;
}

.cards{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.card{

    position: relative;
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.8);
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: 0.3s;
}

.card_status, .card:after{
    
    position: absolute;
}

.card_name{

    padding: 25px 10px;
    text-align: center;
}

.card_image{

    width: 100%;
    min-height: 100%;
}

.card_status{

    top: 0;
    left: 0;
    padding: 20px;
    font-size: 20px;
    background: none;
    color: #fff;
    background: rgb(105 105 105);
}

.card_status--Alive{

    background: rgb(76 175 80);
}

.card_status--Dead{

    background: rgb(244 67 54);
}

.card:after{
  
    content: '';
    z-index: 10;
    width: 200%;
    height: 100%;
    top: -90%;
    left: -20px;
    opacity: 0.1;
    transform: rotate(45deg);
    background: linear-gradient(to top, transparent, #fff 15%, rgba(255,255,255,0.5));
    transition: 0.3s;
}

.card:hover, .cards .card:focus, .cards .card:active{

    box-shadow: 0 8px 16px 3px rgba(0,0,0,0.6);
    transform: translateY(-3px) scale(1.05) rotateX(15deg);
}

.card:hover figcaption, .cards .card:focus figcaption, .cards .card:active figcaption{

    transform: none;
}

.card:hover:after, .card:focus:after, .card:active:after{

    transform: rotate(25deg);
    top: -40%;
    opacity: 0.15;
}

.pagination{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.pagination > button{

    margin: 0px 10px;
    font-size: 16px;
    background: #6f6f6f;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.pagination > button:focus{

    margin: none;
    border: none;
}

.pagination > button:hover{

    background: #909090;
    border: none;

}


@media (min-width: 800px) {
    
    .card{
        
        position: relative;
        width: calc((100% / 2) - 10px);
    }

    .card_status{

        transform: translateY(-100%);
        transition: 0.3s;
    }
    
}

@media (min-width: 1200px) {
    
    .card{
        
        position: relative;
        width: calc((100% / 4) - 30px);
    }
}

@media (min-width: 1500px) {
    
    .card{

        position: relative;
        width: calc((100% / 5) - 40px);
    }
}